body {
    margin: 0;
    font-family: 'Arial', Times, serif, sans-serif;
}

.box {
    height: 60;
    width: 1450px;
    font-weight: bold;
    font-size: 80px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}