* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}


header {
    background-color: #3498db;
    color: white;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}


#dark-mode-toggle {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#dark-mode-toggle:hover {
    background-color: #1abc9c;
}


main {
    padding: 40px 20px;
}


.tasks {
    background-color: #ecf0f1;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
}

.tasks h2 {
    font-size: 2em;
    color: #2980b9;
    margin-bottom: 10px;
}

.tasks ul {
    list-style-type: none;
}

.tasks ul li {
    margin: 10px 0;
}

.tasks ul li a {
    color: #3498db;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
}

.tasks ul li a:hover {
    color: #e74c3c;
}


footer {
    background-color: #34495e;
    color: white;
    text-align: center;
    padding: 20px 0;
    font-size: 1.1em;
    margin-top: 255px;
}


body.dark-mode {
    background-color: #2c3e50;
    color: white;
}

body.dark-mode .tasks {
    background-color: #34495e;
}

body.dark-mode header {
    background-color: #1abc9c;
}

body.dark-mode .tasks ul li a {
    color: #ecf0f1;
}

body.dark-mode .tasks ul li a:hover {
    color: #e74c3c;
}
